<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1132">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Are You Ready?</span>
            <h2 class="cs-title" style="color:#121212;">Let's Take Your Game to the Next Level</h2>
            <a href="" class="cs-button-solid">Sign Up Today</a>
        </div>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../assets/images/cta.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="../assets/images/cta.jpg">
        <img loading="lazy" decoding="async" src="../assets/images/cta.jpg" alt="family" width="1280" height="568">
    </picture>
    <!--White splash graphic-->
    <picture class="cs-graphic cs-light">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="../assets/images/splash-m.png">
        <!--Tablet and above Image-->
        <source media="(max-width: 1023px)" srcset="../assets/imagessplash-t.png">
        <!--Desktop and above Image-->
        <source media="(min-width: 1024px)" srcset="../assets/images/splash.png">
        <img loading="lazy" decoding="async" src="../assets/images/splash.png" alt="graphic" width="1920" height="108" aria-hidden="true">
    </picture>
</section>