---
title: "About | iDesign Demo | BME Recruiting"
description: "Meta description for the page"
permalink: "/about/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="preload" as="image" href="{% getUrl 'assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | avif %}"/>
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">About</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpeg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpeg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpeg">
        <img src="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
    </picture>
</div>
           
<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="sbsr-1807">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper-blue">Meet</span>
            <h2 class="cs-title">Coach E</h2>
            <p class="cs-text">
                My name is Coach Goines, owner and CEO of BME Recruiting. I an a <strong>Linebacker Specialist</strong>, training athletes from youth through college. <br>
                Atlanta-born and Florida-raised, I played at South Cobb High School under Coach Shane Queen as both a linebacker and running back before continuing my career in professional indoor football. After a minor knee injury, I shifted my focus to giving back to the game.
                I founded my 7v7 Program and recruiting service to help athletes sharpen their skills, gain exposure, and create real opportunities at the nexl level.
            </p>
            <a href="" class="cs-button-solid">Contact Coach E</a>           
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-stat">Years Coaching</span>
                <span class="cs-number">10+</span>
            </li>
            <li class="cs-item">
                <span class="cs-stat">Students Helped</span>
                <span class="cs-number">640+</span>
            </li>
            <li class="cs-item">
                <span class="cs-stat">Affiliated Schools</span>
                <span class="cs-number">200+</span>
            </li>
        </ul>
    </div>

    <!--Person Grpahic. To make your own background crops like this, use https://www.remove.bg/ to remove the background of images. Make sure to crop the empty space it creates around the person from the background that was removed.-->
    <picture class="cs-person">
        <source media="(max-width: 600px)" srcset="/assets/images/about/coach-e.png">
        <source media="(min-width: 601px)" srcset="/assets/images/about/coach-e.png">
        <img loading="lazy" decoding="async" src="/assets/images/about/coach-e.png" alt="body builder" width="702" height="617" aria-hidden="true">
    </picture>

    <!--Backgorund Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym2.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym2.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym2.jpg" alt="gym" width="1280" height="568">
    </picture>

    <!--Splash Graphic-->
    <img class="cs-graphic cs-light" src="/assets/svgs/splatter-top-white.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <img class="cs-graphic cs-dark" src="/assets/svgs/splatter-top-dark.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>                      

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1809">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Main Image-->
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/about/coach-1.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/about/coach-1.png">
                <img loading="lazy" decoding="async" src="/assets/images/about/coach-1" alt="body builder" width="562" height="568">
            </picture>
            <!--Pink Blob-->
            <img class="cs-splatter" loading="lazy" decoding="async" src="assets/svgs/splatter-bottom.svg" alt="red splatter" width="441" height="478">
        </div>
        <div class="cs-content">
            <span class="cs-topper-blue">Meet</span>
            <h2 class="cs-title">Coach Bagley</h2>
            <p class="cs-text">
                Richard Bagley he has been organizing youth sports events for 25 years. This is a paragraph about him. He is a graduate of Princeton University. He was born in Ireland, and is the father of 2.
            </p>
            <a href="" class="cs-button-solid" aria-label="learn more about us">Contact Coach Bagley</a>
        </div>
        <div>
            <!--White Splash Graphic-->
            <img class="cs-graphic cs-light" src="/assets/svgs/splatter-top-grey.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
            <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
            <img class="cs-graphic cs-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
            <div class="cs-container">
        </div>
    </div>

</section>

<!-- ============================================ -->
<!--                Meet the Team                 -->
<!-- ============================================ -->

<section id="meet-team-1788">
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-content">
                <span class="cs-topper">Our Team</span>
                <h2 class="cs-title">Meet Our Expert Instructors & Trainers</h2>
                <a href="" class="cs-button-solid">View Our Team Members</a>
            </div>
            <!--Picture 1-->
            <div class="cs-item">
                <a id="cs-open-1605" class="cs-link" aria-label="open modal to learn more about Tom Cruise">
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="/assets/images/about/bk-wilkinson.png">
                        <source media="(min-width: 601px)" srcset="/assets/images/about/bk-wilkinson.png">
                        <img loading="lazy" decoding="async" src="/assets/images/about/bk-wilkinson.png" alt="gallery" width="305" height="400">
                    </picture>
                    <ul class="cs-socials">
                        <li class="cs-social">
                            <a href="" class="cs-link" aria-label="visit instagram" target="_blank">
                                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                            </a>
                        </li>
                        <li class="cs-social">
                            <a href="" class="cs-link" aria-label="visit facebook" target="_blank">
                                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                            </a>
                        </li>
                        <li class="cs-social">
                            <a href="" class="cs-link" aria-label="visit twitter" target="_blank">
                                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                            </a>
                        </li>
                    </ul>
                    <div class="cs-info">
                        <h3 class="cs-h3">Brian "BJ" bk-wilkinson</h3>
                        <span class="cs-job">DB Recruiter</span>
                    </div>
                </a>
            </div>
            <!--Picture 2-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-2.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Julia Roberst</h3>
                    <span class="cs-job">Girls' Coach</span>
                </div>
            </div>
            <!--Picture 3-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-3.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Tom Hanks</h3>
                    <span class="cs-job">QB Specialist</span>
                </div>
            </div>
            <!--Picture 4-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-4.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Denzel Washington</h3>
                    <span class="cs-job">Offensive Specialist</span>
                </div>
            </div>
            <!--Picture 5-->
            <div class="cs-item">
                <picture class="cs-image">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/gym-meet-team-5.png" alt="gallery" width="305" height="400">
                </picture>
                <ul class="cs-socials">
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram-white-red.svg" alt="instagram" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-white.svg" alt="facebook" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                    <li class="cs-social">
                        <a href="" class="cs-link">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-white.svg" alt="twitter" height="20" width="20" loading="lazy" decoding="async">
                        </a>
                    </li>
                </ul>
                <div class="cs-info">
                    <h3 class="cs-h3">Emma Watson</h3>
                    <span class="cs-job">Event Coordinator</span>
                </div>
            </div>
        </div>
    </div>

<!-- Team Member Pop Up Modals -->
 <div id="cs-modal-1605" style="z-index: -10">
    <div class="cs-wrapper cs-modal-content">
        <button id="cs-close-1605" class="cs-close" aria-label="close pop up">
            <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/Close.svg" alt="clothing" width="24" height="24" aria-hidden="true">
        </button>
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/about/bk-wilkinson-modal.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/about/bk-wilkinson-modal.png">
            <img loading="lazy" decoding="async" src="/assets/images/about/bk-wilkinson-modal.png" alt="clothing" width="413" height="500">
        </picture>
        <div class="cs-content">
            <span class="cs-header">
                About Coach BK
            </span>
            <p class="cs-modal-text">
                Brian BK Wilkinson is a Defensive Back Specialist, training kids from 7u to the Pros. BK was born in Atlanta, Georgia and played corner at Westlake High School. He went on to play at Ventura College in Ventura, CA as well as Campbellsville University in Campbellsville, KY. After college, he had a couple of NFL workouts before injuring a hamstring. Shortly after, he came back to Atlanta and started BK Total Fitness and his coaching career.
            </p>
            <div class="cs-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/facebook-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/twitter-1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/instagram1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/youtube1a.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
</div>
                                
<script type="text/javascript" src="/assets/js/modal.js"></script>

</section>


                                
    {% include 'sections/cta.html' %}                                
{% endblock %}