---
title: "Gallery | iDesign Demo | BME Recruiting"
description: "Meta description for the page"
permalink: "/gallery/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/gallery.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">Sports Gallery</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/gallery" class="cs-link cs-active">Gallery</a>
        </div>
    </div>
    <!--Background Image-->

    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpg">
        <img src="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1086">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Service</span>
            <h2 class="cs-title">Our Gallery</h2>
        </div>
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_2309.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_2309.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_2309.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_2310.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_2310.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_2310.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture3">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_2726.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_2726.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_2726.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture4">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_3517.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_3517.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_3517.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture5">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_3555.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_3555.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_3555.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture6">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_3557.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_3557.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_3557.jpg" alt="mechaninc" width="345" height="345">
            </picture>
            <picture class="cs-picture cs-picture7">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/gallery/IMG_3581.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/gallery/IMG_3581.jpg">
                <img loading="lazy" decoding="async" src="/assets/images/gallery/IMG_3581.jpg" alt="mechaninc" width="345" height="345">
            </picture>
        </div>
    </div>
</section>



    {% include 'sections/cta.html' %}
{% endblock %}