---
title: "Pricing | BME Recruiting"
description: "Meta description for the page"
permalink: "/pricing/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/pricing.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-310">
    <div class="cs-container">
        <span class="cs-int-title">Pricing</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/pricing" class="cs-link cs-active">Pricing</a>
        </div>
    </div>
    <!--Background Image-->

    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | avif %}" type="image/avif">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | webp %}" type="image/webp">
        <source media="(max-width: 600px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 640, height: 600 }) | jpeg %}" type="image/jpg">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | avif %}" type="image/avif">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | webp %}" type="image/webp">
        <source media="(max-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2048, height: 942 }) | jpeg %}" type="image/jpg">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | avif %}" type="image/avif">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | webp %}" type="image/webp">
        <source media="(min-width: 1024px)" srcset="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" type="image/jpg">
        <img src="{% getUrl '/assets/images/cta.jpg' | resize({ width: 2500, height: 628 }) | jpeg %}" alt="library" width="1920" height="482" loading="eager" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1183">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Built on Flexibility</h2>
            <p class="cs-text">
                Each package requires a <strong>$100 Consultation Fee</strong> to get started.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Basic Profile Package</span>
                <span class="cs-price">$200</span>
                <span class="cs-package">one-time fee</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        Custom Recruiting Profile <br>
                        (Photo, stats, HUDL link, transcripts)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        College Contact List <br>
                        (3 - 5 schools)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Social Media Post <br>
                        (Twitter & Instagram)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <!-- <li class="cs-li cs-disabled">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li> -->
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Game Changer Package</span>
                <span class="cs-price">$300</span>
                <span class="cs-package">One-Time Fee</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-package">Includes everything in Basic Package</span>
                    </li>
                    <li class="cs-li">
                        Personalized recruiting package <br>
                        (Target list of 10+ schools)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Email Outreach to College Coaches
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Film Evaluation & Feedback
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Priority Social Media Marketing
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <!-- <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li> -->
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Elite Exposure Package</span>
                <span class="cs-price">$500</span>
                <span class="cs-package">One-Time Fee</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-package">Includes everything in Game Changer Package</span>
                    </li>
                    <li class="cs-li">
                        Monthly 1-on-1 Consultation <br>
                        (2 months)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Highlight Film Editing <br>
                        (1 video)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Direct Messaging Campaign <br>
                        (15+ schools)
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        College Coach Follow-Up Support
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <!-- <li class="cs-li">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li> -->
                </ul>
            </li>
        </ul>
        <a href="/sign-up" class="cs-button-solid">Sign Up Now</a>
    </div>
</section>
                                

{% endblock %}